/*
  Colors:
    background  (grey)         rgb(215, 215, 215);
    buttonhover (darker grey)  rgb(184, 184, 184);
    primary     (blue)         rgb(46,  135, 255);
*/




header {
  height: 20%;
  background-color: rgb(46,  135, 255);
  color: rgb(215, 215, 215);
  font-family: 'Lato', sans-serif;
  /* text-decoration: overline; */
}

h1 {
  font-size: 60px;
}

body {
  background-color: rgb(215, 215, 215);
}

label {
  margin: 0px;
}

.row {
  background-color: rgb(46,  135, 255);
  font-size: 20px;
  color: rgb(215, 215, 215);
  font-family: 'Lato', sans-serif;
}

.text {
  color: rgb(46,  135, 255);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

input {
  margin: .4rem;
}

.dropdown-menu {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: rgb(225, 225, 225);

}


.dropdown-item {
  color: rgb(46,  135, 255);
  transition-duration: 0.2s;
}
.dropdown-item:hover {
  background-color: rgb(184, 184, 184);
  transition-duration: 0.2s;
}




.btn {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: rgb(46,  135, 255);
  background-color: rgb(215, 215, 215);
  border-color: black;
  border-style: solid;
  /* border-radius: 3px; */
  /* shadow: 0; */
  /* margin-left: 3px; */

}
button:hover {
  background-color: rgb(184, 184, 184);

}






/* STYLES FOR THE SLIDERS FROM https://www.cssportal.com/style-input-range/ */
input[type=range] {
  height: 29px;
  -webkit-appearance: none;
  margin: 0;                          /* MODIFIED 10px 0 */
  width: 100%;
  /* background-color: rgb(46,  135, 255); */
  background-color: rgb(215, 215, 215);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 26px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 21px;
  width: 28px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 26px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 21px;
  width: 28px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 52px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 52px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 21px;
  width: 28px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}
